// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

a {
  //color: white;
  font-family: helvetica;
  text-decoration: none;
  //text-transform: uppercase;
}

a:hover {
  //text-decoration: underline;
}

.home-title a {
  text-decoration: none;
  color: white !important;
}

//a {
//  color: white !important;
//  /*font-weight: bold!important;*/
//  text-decoration: none !important;
//  text-transform: none !important;
//}
//
//a:hover {
//  text-decoration: none !important;
//}
