a {
  //font-family: helvetica;
  text-decoration: none;
}

a:hover {
  //text-decoration: underline;
}

.home-title a {
  text-decoration: none;
  color: white !important;
}

.v-toolbar__content > .btn-look:first-child + .v-toolbar__title,
.v-toolbar__extension > .btn-look:first-child + .v-toolbar__title {
  padding-left: 20px;
}

.expansion-header-icon {
  max-width: 60px!important;
}

.overflow-y-hidden {
  overflow-y: hidden!important;
}

.jbtn-file {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.jbtn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}
