// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

a {
  //color: white;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}
